body {
  -webkit-backface-visibility: none; /*fix chrome bug*/
}

.section {
  -webkit-transform: scale(1);
  -webkit-transition: all linear 0.5s 0;
}

.modal-open .section {
  -webkit-filter: blur(3px);
  -ms-filter: blur(3px);
  -o-filter: blur(3px);
  filter: blur(3px);
  -webkit-transform: scale(0.8);
  
}